<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UnivitallApp - Questionario - Historico</title>
</head>
<body>
    <h1>Questionario - Historico</h1>
    <br><br>
    <a href="{{ url_for('questionario.index') }}">Voltar</a>
    <br><br>

    {% for questionario in completos %}
    <a href="{{ url_for('questionario.resultado', id = questionario['id'] )}}">
        <div>
            <h3>{{ questionario['data_questionario'] }}</h3>
        </div>
    </a>
    <br><br>
    {% endfor %}


    <div class="flash-messages">
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
    </div>
    
    
</body>
</html>