{% extends 'base_app.html' %}

{% block title %}Questionário{% endblock %}

{% block header_title %}Questionário{% endblock %}

{% block content %}
<div class="card">
    <form method="post">

        <h2>{{ texto }}</h2>

        <div class="sentiment-options">
            <input type="radio" name="resposta" id="pergunta1" value="nunca" required>
            <label for="pergunta1">Nunca</label>
            <input type="radio" name="resposta" id="pergunta2" value="raramente" required>
            <label for="pergunta2">Raramente</label>
            <input type="radio" name="resposta" id="pergunta3" value="as-vezes" required>
            <label for="pergunta3">Às vezes</label>
            <input type="radio" name="resposta" id="pergunta4" value="frequentemente" required>
            <label for="pergunta4">Frequentemente</label>
            <input type="radio" name="resposta" id="pergunta5" value="sempre" required>
            <label for="pergunta5">Sempre</label>
        </div>

        <input type="submit" value="Próxima Pergunta" class="btn-primary">

    </form>
</div>
{% endblock %}