<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UnivitallApp - Questionario</title>
</head>
<body>
    <h1>Questionario</h1>

    <form method="post">

        <h2>{{ texto }}</h2>

        <fieldset>
            <input type="radio" name="resposta" id="pergunta1" value="nunca" required>
            <label for="pergunta1">Nunca</label>
            <input type="radio" name="resposta" id="pergunta2" value="raramente" required>
            <label for="pergunta2">Raramente</label>
            <input type="radio" name="resposta" id="pergunta3" value="as-vezes" required>
            <label for="pergunta3">Às vezes</label>
            <input type="radio" name="resposta" id="pergunta4" value="frequentemente" required>
            <label for="pergunta4">Frequentemente</label>
            <input type="radio" name="resposta" id="pergunta5" value="sempre" required>
            <label for="pergunta5">Sempre</label>
        </fieldset>

        <input type="submit">

    </form>

    <div class="flash-messages">
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
    </div>
    
    
</body>
</html>