<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UnivitallApp - Diario</title>
</head>
<body>
    <h1>Diario</h1>
    <form method="post">
        <h2>Como esta se sentindo?</h2>

        <fieldset>
            <input type="radio" name="sentimento" id="sentimento1" value="raiva" required>
            <label for="sentimento1">Com Raiva</label>
            <input type="radio" name="sentimento" id="sentimento2" value="tristeza" required>
            <label for="sentimento1">Triste</label>
            <input type="radio" name="sentimento" id="sentimento3" value="felicidade" required>
            <label for="sentimento1">Feliz</label>
            <input type="radio" name="sentimento" id="sentimento4" value="medo" required>
            <label for="sentimento1">Com Medo</label>
            <input type="radio" name="sentimento" id="sentimento5" value="frustacao" required>
            <label for="sentimento1">Frustado</label>
        </fieldset>

        <h2>Conte detalhes</h2>
        <textarea style="resize: none;" id="texto-detalhes" name="detalhes" required></textarea>

        <input type="submit">

    </form>

    <div class="flash-messages">
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
    </div>
    
    
</body>
</html>