{% extends 'base_app.html' %}

{% block title %}Diário{% endblock %}

{% block header_title %}Diário{% endblock %}

{% block content %}
<div class="card">
    <form method="post">
        <h2>Como está se sentindo?</h2>

        <div class="sentiment-options">
            <input type="radio" name="sentimento" id="sentimento1" value="raiva" required>
            <label for="sentimento1">Com Raiva</label>
            <input type="radio" name="sentimento" id="sentimento2" value="tristeza" required>
            <label for="sentimento2">Triste</label>
            <input type="radio" name="sentimento" id="sentimento3" value="felicidade" required>
            <label for="sentimento3">Feliz</label>
            <input type="radio" name="sentimento" id="sentimento4" value="medo" required>
            <label for="sentimento4">Com Medo</label>
            <input type="radio" name="sentimento" id="sentimento5" value="frustacao" required>
            <label for="sentimento5">Frustrado</label>
        </div>

        <h2>Conte detalhes</h2>
        <div class="form-group">
            <textarea id="texto-detalhes" name="detalhes" rows="6" required></textarea>
        </div>

        <input type="submit" value="Salvar Entrada" class="btn-primary">

    </form>
</div>
{% endblock %}