<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UnivitallApp - Diario - Historico</title>
</head>
<body>
    <h1>Diario</h1>
    <br><br>
    <a href="{{ url_for('diario.index') }}">Voltar</a>
    <br><br>

    {% for diario in diarios %}
    <div>
        <h3>{{ diario['data_diario'] }}</h3>
        <h4>{{ diario['sentimento'] }}</h4>
        <p>{{ diario['texto'] }}</p>
    </div>
    {% endfor %}


    <div class="flash-messages">
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
    </div>
    
    
</body>
</html>