<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UnivitallApp - Diario - Menu</title>
</head>
<body>
    <h1>UnivitalApp</h1>
    <a href="{{ url_for('auth.logout') }}">Log Out</a>
    <br><br>
    <a href="{{ url_for('menu.index') }}">Voltar pora o menu</a>
    <br><br><br><br>
    
    {% if not diario_feito %}
    <a href="{{ url_for('diario.diario') }}">
        <p>Diario</p>
    </a>
    {% else %}
    <a style="pointer-events: none;">
        <p>Diario de hoje feito ✅ - volte amanhã</p>
    </a>
    {% endif %}

    <br><br>

    <a href="{{ url_for('diario.historico') }}">
        <p>Historico</p>
    </a>


    <div class="flash-messages">
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
    </div>
    
</body>
</html>