{% extends 'base_app.html' %}

{% block title %}Diário - Menu{% endblock %}

{% block header_buttons %}
    <a href="{{ url_for('menu.index') }}" class="logout-link">Voltar para o menu</a>
{% endblock %}

{% block content %}


    <div class="menu-grid">
        
        {% if not diario_feito %}
        <div class="menu-item">
            <a href="{{ url_for('diario.diario') }}">
                <div class="card">
                    <h3>Diário</h3>
                    <p>Registre seu dia e emoções.</p>
                </div>
            </a>
        </div>
        {% else %}
        <div class="menu-item">
            <a style="pointer-events: none;">
                <div class="card" style="opacity: 0.6;">
                    <h3>Diário de hoje feito ✅</h3>
                    <p>Volte amanhã para um novo registro.</p>
                </div>
            </a>
        </div>
        {% endif %}

        <div class="menu-item">
            <a href="{{ url_for('diario.historico') }}">
                <div class="card">
                    <h3>Histórico</h3>
                    <p>Visualize seus registros anteriores.</p>
                </div>
            </a>
        </div>

    </div>
{% endblock %}