<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>UnivitalApp</h1>
    <a href="{{ url_for('auth.login') }}">Log In</a>
    <br>
    <br>
    
    <p>
        Imagine cuidar da sua saúde de forma completa: corpo e mente em harmonia. 
        Nosso aplicativo une nutrição e psicologia para ajudar você a conquistar mais equilíbrio, 
        bem-estar e qualidade de vida. Faça parte dessa transformação e descubra um novo jeito de se cuidar. Pronto(a) para começar?
    </p>
    <a href="{{ url_for('auth.registro')}}">Cadastre-se</a>
</body>
</html>