<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UnivitalApp - Boas Vindas</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/base.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/welcome.css") }}">
</head>
<body>
    <div class="welcome-content">
        <h1 class="welcome-title">UnivitalApp</h1>
        
        <p class="welcome-description">
            Imagine cuidar da sua saúde de forma completa: corpo e mente em harmonia. 
            Nosso aplicativo une nutrição e psicologia para ajudar você a conquistar mais equilíbrio, 
            bem-estar e qualidade de vida. Faça parte dessa transformação e descubra um novo jeito de se cuidar. Pronto(a) para começar?
        </p>
        
        <div class="welcome-actions">
            <a href="{{ url_for("auth.login") }}" class="btn-welcome btn-login">Fazer Login</a>
            <a href="{{ url_for("auth.registro") }}" class="btn-welcome btn-register">Cadastrar-se</a>
        </div>
    </div>
</body>
</html>

