{% extends 'base_app.html' %}

{% block title %}Menu Principal{% endblock %}

{% block header_title %}Menu Principal{% endblock %}

{% block content %}
<div class="menu-grid">
    <div class="menu-item">
        <a href="{{ url_for('diario.index') }}">
            <div class="card">
                <h3>Diário</h3>
                <p>Registre seus sentimentos e pensamentos.</p>
            </div>
        </a>
    </div>

    <div class="menu-item">
        <a href="{{ url_for('questionario.index') }}">
            <div class="card">
                <h3>Questionário</h3>
                <p>Acompanhe seu progresso e bem-estar.</p>
            </div>
        </a>
    </div>

    <div class="menu-item">
        <a href="{{ url_for('tcc.index') }}">
            <div class="card">
                <h3>TCC</h3>
                <p>Acesse conteúdos de Terapia Cognitivo-Comportamental.</p>
            </div>
        </a>
    </div>

    <div class="menu-item">
        <a href="{{ url_for('mapa-da-ajuda.index') }}">
            <div class="card">
                <h3>Mapa da Ajuda</h3>
                <p>Encontre recursos de apoio e ajuda.</p>
            </div>
        </a>
    </div>
</div>
{% endblock %}